# version: '3.9'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 5

    volumes:
      - mysql_data:/var/lib/mysql

    ports:
      - 3306:3306

  web:
    build: ./web
    container_name: nutrimate_backend
    
    depends_on:
      db:
        condition: service_healthy

    volumes:
      - static_data:/app/static

    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_HOST: db
      MYSQL_PORT: 3306

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healt_check"]
      interval: 5s
      timeout: 3s
      retries: 10

    command: > 
      bash -c "
        python manage.py makemigrations && \
        python manage.py migrate && \
        gunicorn nutrimate_backend.wsgi:application --bind 0.0.0.0:8000
      "
    
    ports:
      - 8000:8000

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_data:/app/static:ro
    depends_on:
      web:
        condition: service_healthy

volumes:
  mysql_data:
  static_data: